.modal {
  border: 1px solid #ccc;
  background-color: white;
  position: fixed;
  padding: 16px;
  width: 70%;
  box-shadow: 1px 1px 1px black;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  z-index: 500;
  transition: all 0.3s ease-out;
}