.boggleButton {
  border: 1px solid #eee;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font: inherit;
  font-size: 13px;
  padding: 7px;
  font-weight: bold;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.aprobar {
  color: blue;
}

.rechazar {
  color: red;
}

.iniciar {
  color: limegreen;
}

.enviar {
  background-color: lavender;
  color: black;
}