.boggleButton {
  border: 1px solid #eee;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  font-weight: bold;
}

.aprobar {
  color: blue;
}

.rechazar {
  color: red;
}

.iniciar {
  color: limegreen;
}